.signup__option {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
}
.signup__student {
  flex: 0.5;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
  margin-left: 5px;

  text-align: center;
  color: black;
}
.signup__tutor {
  flex: 0.5;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
  margin-right: 5px;

  text-align: center;
  color: black;
}
.signup__sicon,
.signup__ticon {
  height: 100px;
}
.signup__link:hover {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}
.signup__select {
  text-align: center;
  margin-top: 200px;
}
